pyln.proto>=0.10.0
pyln.bolt1>=1.0.1.186
pyln.bolt2>=1.0.2.186
pyln.bolt4>=1.0.2.186
pyln.bolt7>=1.0.2.186
pyln.testing>=0.9.3
coincurve==13.0.0
python-bitcoinlib>=0.11.0
mypy>=0.790
crc32c==2.2
ephemeral-port-reserve>=1.1.1
